@import "pradzia.css";

.alert {
  position: fixed;
  top: 10%;
  /* max-width: 500px; */
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  box-shadow: 5px 5px 10px rgb(180, 190, 194);
  border: 1px solid rgb(191, 180, 180);
  border-radius: 5px;
  background-color: rgb(200, 207, 184);
}
